.levelOne {
color: black\9;
background-color: #D6FFAD\9;
}
.levelTwo {
color: black\9;
background-color: #E5FFCA\9;
}
.levelThree {
color: black\9;
background-color: #F7FFEF\9;
}
.levelFour {
color: black\9;
background-color: #FF9D5C\9;
}
.levelFive {
color: black\9;
background-color: #FF3333\9;
}

.levelOne:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .levelOne:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
color: black;
background-color: #D6FFAD;
}
.levelTwo:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .levelTwo:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
color: black;
background-color: #E5FFCA;
}
.levelThree:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .levelThree:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
color: black;
background-color: #F7FFEF;
}
.levelFour:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .levelFour:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
color: black;
background-color: #FF9D5C;
}
.levelFive:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .levelFive:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
color: black;
background-color: #FF3333;
}

.button {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 15px 0px 0px 15px;
    font-size: 15px;
    text-transform: uppercase;
    background: rgb(45, 204, 112);
    color: #FFF;
    border: 0px none;
    outline: 0px none;
}

.button:hover {
    background: #ED5E2F;
}

.button:active {
    background: #F6A953;
}
​