.sprite{background: url(sprites.png) no-repeat;}
.sprite-avion{ background-position: 0 0; width: 32px; height: 32px; }
.sprite-avion:hover{ background-position: 0 -42px; width: 32px; height: 32px; }
.sprite-avion-active{ background-position: 0 -42px; width: 32px; height: 32px; }
.sprite-bag{ background-position: 0 -84px; width: 32px; height: 32px; }
.sprite-bag2{ background-position: 0 -126px; width: 32px; height: 32px; }
.sprite-bag2:hover{ background-position: 0 -168px; width: 32px; height: 32px; }
.sprite-bag2-active{ background-position: 0 -168px; width: 32px; height: 32px; }
.sprite-bag:hover{ background-position: 0 -210px; width: 32px; height: 32px; }
.sprite-bag-active{ background-position: 0 -210px; width: 32px; height: 32px; }
.sprite-bulle{ background-position: 0 -252px; width: 32px; height: 32px; }
.sprite-bulle2{ background-position: 0 -294px; width: 32px; height: 32px; }
.sprite-bulle2:hover{ background-position: 0 -336px; width: 32px; height: 32px; }
.sprite-bulle2-active{ background-position: 0 -336px; width: 32px; height: 32px; }
.sprite-bulle:hover{ background-position: 0 -378px; width: 32px; height: 32px; }
.sprite-bulle-active{ background-position: 0 -378px; width: 32px; height: 32px; }
.sprite-calendar{ background-position: 0 -420px; width: 18px; height: 18px; }
.sprite-campagne{ background-position: 0 -448px; width: 32px; height: 32px; }
.sprite-campagne:hover{ background-position: 0 -490px; width: 32px; height: 32px; }
.sprite-campagne-active{ background-position: 0 -490px; width: 32px; height: 32px; }
.sprite-check{ background-position: 0 -532px; width: 32px; height: 32px; }
.sprite-check_btn{ background-position: 0 -574px; width: 17px; height: 17px; }
.sprite-check:hover{ background-position: 0 -601px; width: 32px; height: 32px; }
.sprite-check-active{ background-position: 0 -601px; width: 32px; height: 32px; }
.sprite-chrono{ background-position: 0 -643px; width: 32px; height: 32px; }
.sprite-chrono2{ background-position: 0 -685px; width: 32px; height: 33px; }
.sprite-chrono2:hover{ background-position: 0 -728px; width: 32px; height: 33px; }
.sprite-chrono2-active{ background-position: 0 -728px; width: 32px; height: 33px; }
.sprite-chrono:hover{ background-position: 0 -771px; width: 32px; height: 32px; }
.sprite-chrono-active{ background-position: 0 -771px; width: 32px; height: 32px; }
.sprite-clock{ background-position: 0 -813px; width: 32px; height: 32px; }
.sprite-clock:hover{ background-position: 0 -855px; width: 32px; height: 32px; }
.sprite-clock-active{ background-position: 0 -855px; width: 32px; height: 32px; }
.sprite-close{ background-position: 0 -897px; width: 32px; height: 32px; }
.sprite-close:hover{ background-position: 0 -939px; width: 32px; height: 32px; }
.sprite-close-active{ background-position: 0 -939px; width: 32px; height: 32px; }
.sprite-cloud{ background-position: 0 -981px; width: 32px; height: 32px; }
.sprite-cloud:hover{ background-position: 0 -1023px; width: 32px; height: 32px; }
.sprite-cloud-active{ background-position: 0 -1023px; width: 32px; height: 32px; }
.sprite-concurrents{ background-position: 0 -1065px; width: 40px; height: 32px; }
.sprite-concurrents:hover{ background-position: 0 -1107px; width: 40px; height: 32px; }
.sprite-concurrents-active{ background-position: 0 -1107px; width: 40px; height: 32px; }
.sprite-duplicate{ background-position: 0 -1149px; width: 32px; height: 32px; }
.sprite-duplicate:hover{ background-position: 0 -1191px; width: 32px; height: 32px; }
.sprite-duplicate-active{ background-position: 0 -1191px; width: 32px; height: 32px; }
.sprite-edit{ background-position: 0 -1233px; width: 32px; height: 32px; }
.sprite-edit:hover{ background-position: 0 -1275px; width: 32px; height: 32px; }
.sprite-edit-active{ background-position: 0 -1275px; width: 32px; height: 32px; }
.sprite-expend{ background-position: 0 -1317px; width: 32px; height: 32px; }
.sprite-expend2{ background-position: 0 -1359px; width: 32px; height: 32px; }
.sprite-expend2:hover{ background-position: 0 -1401px; width: 32px; height: 32px; }
.sprite-expend2-active{ background-position: 0 -1401px; width: 32px; height: 32px; }
.sprite-expend:hover{ background-position: 0 -1443px; width: 32px; height: 32px; }
.sprite-expend-active{ background-position: 0 -1443px; width: 32px; height: 32px; }
.sprite-exporter{ background-position: 0 -1485px; width: 17px; height: 17px; }
.sprite-eye{ background-position: 0 -1512px; width: 32px; height: 32px; }
.sprite-eye:hover{ background-position: 0 -1554px; width: 32px; height: 32px; }
.sprite-eye-active{ background-position: 0 -1554px; width: 32px; height: 32px; }
.sprite-folder{ background-position: 0 -1596px; width: 32px; height: 32px; }
.sprite-folder:hover{ background-position: 0 -1638px; width: 32px; height: 32px; }
.sprite-folder-active{ background-position: 0 -1638px; width: 32px; height: 32px; }
.sprite-graph{ background-position: 0 -1680px; width: 32px; height: 32px; }
.sprite-graph:hover{ background-position: 0 -1722px; width: 32px; height: 32px; }
.sprite-graph-active{ background-position: 0 -1722px; width: 32px; height: 32px; }
.sprite-heart{ background-position: 0 -1764px; width: 32px; height: 32px; }
.sprite-heart:hover{ background-position: 0 -1806px; width: 32px; height: 32px; }
.sprite-heart-active{ background-position: 0 -1806px; width: 32px; height: 32px; }
.sprite-home{ background-position: 0 -1848px; width: 32px; height: 32px; }
.sprite-home:hover{ background-position: 0 -1890px; width: 32px; height: 32px; }
.sprite-home-active{ background-position: 0 -1890px; width: 32px; height: 32px; }
.sprite-horloge{ background-position: 0 -1932px; width: 32px; height: 32px; }
.sprite-horloge:hover{ background-position: 0 -1974px; width: 32px; height: 32px; }
.sprite-horloge-active{ background-position: 0 -1974px; width: 32px; height: 32px; }
.sprite-ipad{ background-position: -50px 0; width: 32px; height: 32px; }
.sprite-ipad:hover{ background-position: -50px -42px; width: 32px; height: 32px; }
.sprite-ipad-active{ background-position: -50px -42px; width: 32px; height: 32px; }
.sprite-link{ background-position: -50px -84px; width: 32px; height: 32px; }
.sprite-link:hover{ background-position: -50px -126px; width: 32px; height: 32px; }
.sprite-link-active{ background-position: -50px -126px; width: 32px; height: 32px; }
.sprite-luminosite{ background-position: -50px -168px; width: 32px; height: 32px; }
.sprite-luminosite:hover{ background-position: -50px -210px; width: 32px; height: 32px; }
.sprite-luminosite-active{ background-position: -50px -210px; width: 32px; height: 32px; }
.sprite-mail{ background-position: -50px -252px; width: 32px; height: 32px; }
.sprite-mail:hover{ background-position: -50px -294px; width: 32px; height: 32px; }
.sprite-mail-active{ background-position: -50px -294px; width: 32px; height: 32px; }
.sprite-map{ background-position: -50px -336px; width: 32px; height: 32px; }
.sprite-map2{ background-position: -50px -378px; width: 32px; height: 32px; }
.sprite-map2:hover{ background-position: -50px -420px; width: 32px; height: 32px; }
.sprite-map2-active{ background-position: -50px -420px; width: 32px; height: 32px; }
.sprite-map:hover{ background-position: -50px -462px; width: 32px; height: 32px; }
.sprite-map-active{ background-position: -50px -462px; width: 32px; height: 32px; }
.sprite-marker{ background-position: -50px -504px; width: 32px; height: 32px; }
.sprite-marker:hover{ background-position: -50px -546px; width: 32px; height: 32px; }
.sprite-marker-active{ background-position: -50px -546px; width: 32px; height: 32px; }
.sprite-menu{ background-position: -50px -588px; width: 32px; height: 33px; }
.sprite-menu:hover{ background-position: -50px -631px; width: 32px; height: 33px; }
.sprite-menu-active{ background-position: -50px -631px; width: 32px; height: 33px; }
.sprite-minus{ background-position: -50px -674px; width: 32px; height: 32px; }
.sprite-minus:hover{ background-position: -50px -716px; width: 32px; height: 32px; }
.sprite-minus-active{ background-position: -50px -716px; width: 32px; height: 32px; }
.sprite-minus_table{ background-position: -50px -758px; width: 14px; height: 14px; }
.sprite-mute{ background-position: -50px -782px; width: 32px; height: 32px; }
.sprite-mute:hover{ background-position: -50px -824px; width: 32px; height: 32px; }
.sprite-mute-active{ background-position: -50px -824px; width: 32px; height: 32px; }
.sprite-next{ background-position: -50px -866px; width: 32px; height: 32px; }
.sprite-next:hover{ background-position: -50px -908px; width: 32px; height: 32px; }
.sprite-next-active{ background-position: -50px -908px; width: 32px; height: 32px; }
.sprite-note{ background-position: -50px -950px; width: 32px; height: 32px; }
.sprite-note2{ background-position: -50px -992px; width: 32px; height: 32px; }
.sprite-note2:hover{ background-position: -50px -1034px; width: 32px; height: 32px; }
.sprite-note2-active{ background-position: -50px -1034px; width: 32px; height: 32px; }
.sprite-note8hover{ background-position: -50px -1076px; width: 32px; height: 32px; }
.sprite-param{ background-position: -50px -1118px; width: 32px; height: 32px; }
.sprite-param:hover{ background-position: -50px -1160px; width: 32px; height: 32px; }
.sprite-param-active{ background-position: -50px -1160px; width: 32px; height: 32px; }
.sprite-pause{ background-position: -50px -1202px; width: 32px; height: 32px; }
.sprite-pause:hover{ background-position: -50px -1244px; width: 32px; height: 32px; }
.sprite-pause-active{ background-position: -50px -1244px; width: 32px; height: 32px; }
.sprite-people:hover{ background-position: -50px -1286px; width: 32px; height: 32px; }
.sprite-people-active{ background-position: -50px -1286px; width: 32px; height: 32px; }
.sprite-performance{ background-position: -50px -1328px; width: 32px; height: 32px; }
.sprite-performance:hover{ background-position: -50px -1370px; width: 32px; height: 32px; }
.sprite-performance-active{ background-position: -50px -1370px; width: 32px; height: 32px; }
.sprite-photo{ background-position: -50px -1412px; width: 32px; height: 32px; }
.sprite-photo2{ background-position: -50px -1454px; width: 32px; height: 32px; }
.sprite-photo2:hover{ background-position: -50px -1496px; width: 32px; height: 32px; }
.sprite-photo2-active{ background-position: -50px -1496px; width: 32px; height: 32px; }
.sprite-photo:hover{ background-position: -50px -1538px; width: 32px; height: 32px; }
.sprite-photo-active{ background-position: -50px -1538px; width: 32px; height: 32px; }
.sprite-pie_chart{ background-position: -50px -1580px; width: 32px; height: 32px; }
.sprite-pie_chart:hover{ background-position: -50px -1622px; width: 32px; height: 32px; }
.sprite-pie_chart-active{ background-position: -50px -1622px; width: 32px; height: 32px; }
.sprite-play{ background-position: -50px -1664px; width: 32px; height: 32px; }
.sprite-play:hover{ background-position: -50px -1706px; width: 32px; height: 32px; }
.sprite-play-active{ background-position: -50px -1706px; width: 32px; height: 32px; }
.sprite-plus{ background-position: -50px -1748px; width: 32px; height: 32px; }
.sprite-plus_btn{ background-position: -50px -1790px; width: 15px; height: 15px; }
.sprite-plus:hover{ background-position: -50px -1815px; width: 32px; height: 32px; }
.sprite-plus-active{ background-position: -50px -1815px; width: 32px; height: 32px; }
.sprite-plus_table{ background-position: -50px -1857px; width: 14px; height: 14px; }
.sprite-poeple{ background-position: -50px -1881px; width: 32px; height: 32px; }
.sprite-previous{ background-position: -50px -1923px; width: 32px; height: 32px; }
.sprite-previous:hover{ background-position: -50px -1965px; width: 32px; height: 32px; }
.sprite-previous-active{ background-position: -50px -1965px; width: 32px; height: 32px; }
.sprite-print{ background-position: -100px 0; width: 32px; height: 32px; }
.sprite-print:hover{ background-position: -100px -42px; width: 32px; height: 32px; }
.sprite-print-active{ background-position: -100px -42px; width: 32px; height: 32px; }
.sprite-question{ background-position: -100px -84px; width: 13px; height: 13px; }
.sprite-refresh{ background-position: -100px -107px; width: 32px; height: 32px; }
.sprite-refresh2{ background-position: -100px -149px; width: 32px; height: 32px; }
.sprite-refresh2:hover{ background-position: -100px -191px; width: 32px; height: 32px; }
.sprite-refresh2-active{ background-position: -100px -191px; width: 32px; height: 32px; }
.sprite-refresh:hover{ background-position: -100px -233px; width: 32px; height: 32px; }
.sprite-refresh-active{ background-position: -100px -233px; width: 32px; height: 32px; }
.sprite-resizer{ background-position: -100px -275px; width: 81px; height: 14px; }
.sprite-search{ background-position: -100px -299px; width: 32px; height: 32px; }
.sprite-search:hover{ background-position: -100px -341px; width: 32px; height: 32px; }
.sprite-search-active{ background-position: -100px -341px; width: 32px; height: 32px; }
.sprite-send{ background-position: -100px -383px; width: 32px; height: 32px; }
.sprite-send:hover{ background-position: -100px -425px; width: 32px; height: 32px; }
.sprite-send-active{ background-position: -100px -425px; width: 32px; height: 32px; }
.sprite-setting{ background-position: -100px -467px; width: 32px; height: 32px; }
.sprite-setting:hover{ background-position: -100px -509px; width: 32px; height: 32px; }
.sprite-setting-active{ background-position: -100px -509px; width: 32px; height: 32px; }
.sprite-share{ background-position: -100px -551px; width: 32px; height: 32px; }
.sprite-share:hover{ background-position: -100px -593px; width: 32px; height: 32px; }
.sprite-share-active{ background-position: -100px -593px; width: 32px; height: 32px; }
.sprite-sound{ background-position: -100px -635px; width: 32px; height: 32px; }
.sprite-sound:hover{ background-position: -100px -677px; width: 32px; height: 32px; }
.sprite-sound-active{ background-position: -100px -677px; width: 32px; height: 32px; }
.sprite-trash{ background-position: -100px -719px; width: 32px; height: 32px; }
.sprite-trash2{ background-position: -100px -761px; width: 32px; height: 32px; }
.sprite-trash2:hover{ background-position: -100px -803px; width: 32px; height: 32px; }
.sprite-trash2-active{ background-position: -100px -803px; width: 32px; height: 32px; }
.sprite-trash:hover{ background-position: -100px -845px; width: 32px; height: 32px; }
.sprite-trash-active{ background-position: -100px -845px; width: 32px; height: 32px; }
