/*switch button style begin*/
.onoffswitch {
    position: relative; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E3DFDF; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #F0F0F0; color: #000000;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #F0F0F0; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 0px;
    background: #363636;
    border: 2px solid #E3DFDF; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 36px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #363636;
}
.onoffswitch-outside-wrapper{
  margin-top: 18px;
  margin-bottom:18px;
  margin-left:5%;
}
.onoffswitch-inside-wrapper{
  margin-left:100px;
}
.onoffswitch-text{
  height:34px;
  vertical-align: middle;
  display:table-cell;
  text-align: center;
  line-height: 22px;
  float:left;weight:35%;
  font-size:12px;
  font-family: "Open Sans";
  font-weight: 400;
}
/*switch button end*/
/*button style begin*/

.button {

    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 15px 15px 15px 15px;
    background: rgb(45, 204, 112);
    color: #FFF;
    border: 0px none;
    outline: 0px none;
    font-weight:400;
    font-family: "Open Sans";
}
.table-delete-icon{
  background-image:url('../img/dust-bin-icon.png');
  background-size: 25px 25px;
}
.inner-grid-button{
  margin: 0 0 0 0 ;
}
.sidebar-button{
    margin-left:5%;
    margin-top:22px;
    width:90%;
    font-size:16px;
    height:35px;
}
.exporter-button{
    font-size:12px;
    width:100px;
    height:35px;
}
.ajouter-button{
    font-size:14px;
    width:200px;
    height:35px;
}
.comment-ok-button{
    font-size:14px;
    width:230px;
    height:35px;
    margin-left:0px;
}
.comment-cancle-button{
    font-size:14px;
    width:230px;
    height:35px;
    margin-right:0px;
    background:#ED5E2F;
    float:right;
}
.button:hover {
    background: #F6A953;
}

.button:active {
    background: #ED5E2F;
}
.button-sprite{
    margin-bottom:5px;
}
.question-sprite{
    margin-bottom:25px;
}
/*button style end*/
/*campagne comment input wrapper begin*/
.comment-input-wrapper{
    width:490px;
    height:150px;
    margin-top:10px;
    }
    /*campagne comment input wrapper end*/

/*sidebar drop down list style begin*/
.sidebar-dropdownlist {
    font-weight: 300;
    font-family: "Open Sans";
    font-size:12px;
    margin-top: 18px;
    margin-left:5%;
}
.bottom-sidebar-dropdownlist{
    margin-bottom:18px;
}
/*sidebar drop down list style end*/

/*/sidebar datepicker style begin*/
.datepicker{
    margin-top: 12px;
    margin-left:5%;
}
.second-datepicker-wrapper{
    margin-top: 28px;
}
/*/sidebar datepicker style end*/

/*client logo style begin*/
#clientlogo{
  background:#F0F0F0;
  border:1px solid #C2C2C2;
}
/*client logo style end*/
.fitwrapper{
  width:100%;
  height:100%;
}
/*number Circle style begin*/
.numberCircle {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #23466E;
    color: #F0F0F0;
    text-align: center;
    font-size: 21px;
    margin: 10px 10px 10px 10px;
    font-weight: 300;
    font-family: "Open Sans";
}
.agenceCircle{
    width:64px;
    height:64px;
    border-radius:50%;
    display:block;
    border-radius: 32px;
    line-height: 64px;
    margin-top:15px;
}
.clientCircle{
    width:72px;
    height:72px;
    border-radius:50%;
    display:inline-block;
    border-radius: 36px;
    line-height: 72px;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
}
.channelCircle{
    width:100px;
    height:100px;
    border-radius:50%;
    display:inline-block;
    border-radius: 50px;
    line-height: 100px;
    margin-bottom:5px;
    background-color: white;
}
.innerchannelCircle{
    width:70px;
    height:70px;
    border-radius:50%;
    display:inline-block;
    border-radius: 5px;
    background-color: white;
}
.circle-image{
    display: inline-block;
    height: 64px;
    width: 64px;
    line-height: 64px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    background-color: rgb(45, 204, 112);
    color: #F0F0F0;
    text-align: center;
    font-size:3em;
}
/*number circle style end*/

/*dashboard selector style begin*/
.dashboardselector{
    width:300px;
    height:92px;
    background-color: #F0F0F0;
}
#clientselector{
    display:inline-block;
    background-color: white;
    margin-left:10px;
    padding:5px;
    color:#23466E;
    font-family: "Open Sans";
    font-weight:600;
}

/*dashboard selector style end*/

/*dashboard linker style begin*/

.col-sm-2:hover .custom-tooltip
{
  display:block;
  position:absolute;
  top:-2em; left:2em; width:17em;
  background-color: #CDD8DA;
  color:#000;
  text-align: left;
  font-weight:none;
  font-size: 15px;
  padding: 9px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.col-sm-2 .custom-tooltip
{
  text-align: right;
  display: none
}

.link_to_Performance{
    cursor: pointer;
}
.link_to_Campagne_with_CPVc_oneday{
  cursor: pointer;
}
.link_to_Campagne_with_CPVc{
  cursor: pointer;
}
.link_to_Campagne{
    cursor: pointer;
}
.link_to_Concurrence{
    cursor: pointer;
}
.link_to_Campagne_with_Contact{
    cursor: pointer;
}
.link_to_Concurrence_oneday{
    cursor: pointer;
}
.link_to_Campagne_with_Contact_oneday{
    cursor: pointer;
}
.link_to_Campagne_oneday{
    cursor: pointer;
}

/*dashboard linker style end*/
/*side bar text  style begin*/
.client-website{
  display:inline-block;
  background-color: white;
  padding:5px;
  margin-left:15px;
  font-family: "Open Sans";
  color:#23466E;
  font-weight:600;
  font-size:14px;
}
.periode-text{
    margin-top: 10px;
    font-weight:300;
    font-family: "Open Sans";
    margin-left:5%;
}
.chooser-text{
    margin-top: 28px;
    margin-left:5%;
    font-weight:300;
    font-family: "Open Sans";
}
.expander-header{
    font-size:21px;
    font-weight: 600;
    font-family: "Open Sans";
    font-variant : small-caps;"
    color:blue;

}
/*side bar text style end*/

/*chart container style begin */
.chart-container{

    height:85%;
    width:100%;
}
.chart-container-performance{
    height:95%;
    width:100%;
}
/*chart container style end*/

/*table container style begin*/
.table-container{
    margin: 15px 15px 15px 15px;
    max-height:800px;
    overflow:auto;
    overflow-x: hidden;
}
/*table container style end*/

/*tile style begin*/
.tile {
  width: 100%;
  height:160px;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 18px;
  margin-top: 18px;
  font-size:16px;
  text-align: center;
  font-weight:400;
  font-family: "Open Sans";
}
/*.tile*/
 .title {
  margin-top: 0px;
  font-size:21px;
  font-weight: 700;
  font-family: "Open Sans";
}
.money {
  font-size:21px;
  font-weight: 700;
  font-family: "Open Sans";
}
.tile.darkblue, .tile.blue {
  color: #fff;
}
.tile.darkblue {
  background: #2a80b9;
}
.tile.darkblue:hover {
  background: #21638f;
}
.tile.blue {
  background: #28b1e5;
}
.tile.blue:hover {
  background: #1893c2;
}
/*tile style end*/

/*dashboardsubtitle style begin*/
.dashboardsubtitle{
    font-size:21px;
    font-weight: 600;
    font-family: "Open Sans";
    color:#23466E;
    font-variant : small-caps;
    background: #F0F0F0;
    height:56px;
    margin-top: 40px;
    line-height: 56px;
}

/*dashboardsubtitle style end*/
/*progess bar style begin*/
.ProgressBar{
    margin-top: 15px;
    margin-right:100px;
}
/*progess bar style end*/

/*header style begin*/
.headerlogout{
  line-height:50px;
  font-size:14px;
  font-family:"Open Sans";
  font-weight: 500;
}
.speratebar{
  background-color: #305277;
  height:6px;
}
#username{
  margin-left:20px;
  /*line-height:75px;*/
}
/*header style end*/

/*administration btn style begin*/


.modalCSV
{
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: #111;
  display: inline-block;
  padding: 1em 0.75em;
  text-decoration: none;
  -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
  margin: 0 auto;
  cursor:pointer;
}

.modalCSV:hover
{
  color: rgb(45, 204, 112);
  border: 1px solid rgb(45, 204, 112);
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
/*.modalCSV:active
{
  color: rgb(45, 204, 112);
  border: 1px solid rgb(45, 204, 112);
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s; }
}
*/
/*administration btn style end*/
/*navbar custom style begin*/
.navbar-default {
  background-color: #f0f0f0;
  border-color: #28b1e5;
}
.navbar-default .navbar-brand {
  color: #23466E;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #23466E;
}
.navbar-default .navbar-nav > li > a {
  color: #23466E;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #28b1e5;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #28b1e5;
}
.navbar-default .navbar-toggle {
  border-color: #28b1e5;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #28b1e5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #23466E;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #23466E;
}
.navbar-default .navbar-link {
  color: #23466E;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #4e6479;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #28b1e5;
  }
}
  .navbar-nav, .navbar-nav li, .navbar-nav li a {
  height: 100px;
     line-height: 100px;

}
.navbar-brand {
        padding: 0;
}
.navbar {
    margin-bottom: 0 !important;
}
​
/*navbar custom style end*/